MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=myblog
MYSQL_USERNAME=root
MYSQL_PASSWORD=change_me
FRONTEND_PORT=80
TZ=Asia/Shanghai
LOGGING_LEVEL_ROOT=info
LOGGING_LEVEL_APP=info
LOGGING_LEVEL_HIKARI=warn
